<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Album Collect</title>
    <meta name="description" content="Album Collect is a website dedicated to the music collectors out there that want to catalog their music collections, but it's all made with Flask">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% block content %} Insert content here! {% endblock %}
    <footer>
        Image credit to <a href="https://unsplash.com/photos/XAqTc-LLm6A">Dane Deaner</a>
    </footer>
</body>

</html>